/* body {

} */

.choices {
  width: 150px;
}

#gameWrapper {
  display: inline-block;
}

#player1Box {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

#resultsBox {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  margin-right: 20px;
}

#player2Box {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

form{
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ccc;
}
.chatWrapper{
  max-height: 250px;
  overflow: auto;
}
.chatWrapper em{
  font-size: 15px;
  padding-right: 20px;
  font-weight: bold;
}
.chatWrapper div{
  font-size: 16px
}